
/* Test new Floating Tab */
#floatingDiv {
  display: block;
  box-sizing: border-box;
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  overflow: scroll;
  width: 50%;
  height: 30%;
  height: 40%;
  resize: both;
  padding:0;
  margin: 0;
  }
  
  #floatingDivHeader {
    padding: 10px;
    cursor: move;
    background-color: #949349;
    color: #fff;
  }