
@import "slider-dates.css";
@import "hierarchy-tree.css";
@import "menus.css";
@import "tables.css";
@import "cursors.css";
@import "floating-window.css";
@import "checkbox.css";
@import "container.css";
@import "jsgantt.css";

.gtaskcellwkend,
.gtaskcellcurrent,
.gminorheadingwkend {
  background-color: #e1e1e1;
}

.gitemhighlight td {
  background-color: #ffdaaa;
}

.gtaskblue {
  background: #4281A4;
}

.gtaskred {
  background: #C1666B;
}

.gtaskgreen {
  background: #48A9A6;
}

.gtaskyellow {
  background: #D4B483;
}


