/* 
table tbody tr:nth-last-child(n) {
  display: none;
} */

.styled-table {
    padding: 1rem;
    border-collapse: collapse;
    margin: 1rem 1rem;
    font-size: 0.9em;
    min-width: 277px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    max-width: inherit;
  }
  
  .styled-table thead tr {
    background-color: #a79e1cef;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
      padding: 2px 3px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #a79e1cef;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #a79e1cef;
  }
  
  